body {
    background-color: beige;
    font-family: Inter, sans-serif;
    font-size: 18px;
    align-content: center;
}

.background {
    border-radius: 20px;
    width: 60%;
    height: 60%;
    background-image: url(/Images/nino.jpg);
    position: absolute;
    align-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 12%;
    left: 23%;
}

.about-us {
    background-color: white;
    width: 260px;
    height: 300px;
    border-radius: 15px;
    position: relative;
    top: 190px;
    left: 25px;
    text-align: center;
    letter-spacing: 2px;
    padding: 30px;
}

.buttons {
    position: absolute;
    top: 25px;
    left: 1110px;
    width: 230px;
    height: 20px;
}

.button-log-in-back {
    position: absolute;
    top: 25px;
    left: 1255px;
    width: 20px;
    height: 20px;
}

.logo {
    position: absolute;
    background-image: url(/Images/logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50px;
    left: 95px;
}

.primary-button {
    background-color: #a0d3fb;
    color: black;
    border-radius: 20px;
    padding: 10px;
    border: none;

}

#container-notes-buttons {
    position: absolute;
    right: 20px;
    bottom: 20px
}

#button-calculator-container {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.error-message {
    color: red;
}

.button-log-out {
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: #b30000;
    color: white;
}

.glass {
    align-content: initial;
    width: 55%;
    height: 90%;
    margin: auto;
    background: linear-gradient(13deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.button-notes {
    bottom: 10px;
    right: 10px;
    border: none;
    background-color: #a0d3fb;
    color: black;
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    margin-bottom: 0;
    margin-right: 0;
}

.logo-container {
    position: absolute;
    top: 50px;
    left: 50px;
}

.calculator-image {
    position: absolute;
    background-image: url(/Images/calculator.png);
    background-repeat: no-repeat;
    background-size: 100px 120px;
    width: 200px;
    height: 250px;
    top: 270px;
    left: 105px;
}

.quadratic-button {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 400px;
    left: 65px;
}

.gcd-button {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 450px;
    left: 85px;
}

#username-text {
    padding: 10px;
}

.username {
    position: absolute;
    top: 180px;
    left: 100px;
    width: 110px;
    border-radius: 10px;
    height: fit-content;
    border-color: black;
    background-color: bisque;
    text-align: center;
}

.quadratic {
    text-align: center;
}

.navigation-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}


.text-equation {
    text-align: center;
    font-size: 32px;
    font-family: Inter, serif;
    font-weight: bold;
    color: black;
    margin: 8px
}

.number-equation {
    font-size: 28px;
    font-family: Inter, serif;
    width: 50px;
    height: 50px;
    margin: 8px;
    background: none;
}

li {
    background-color: #dadada;
    align-content: flex-start;
    padding: 8px;
    border-radius: 10px;
    width: 80%;
    margin: 8px;
    list-style-type: none;
}

.title {
    width: max-content;
    align-content: baseline;
    padding: 10px;
    font-weight: bold;
}

.mcd-input-container {
    display: flex;
}

.calculator-text-lineal {

    text-align: center;
}

.calculate-button {
    position: absolute;
    top: 300px;
    left: 460px;
}
#result {
    padding: 10px;
    width: 60px;
    height: 50px;
    background: white;
    color: black;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border:none;

}

.quadratic-equation {
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 50px;
}

.input-label {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

.answer1 {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 380px;
    left: 800px;
    text-align: center;
}

.answer2 {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 380px;
    left: 940px;
    text-align: center;
}

.instructions-quadratic {
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    padding: 30px;
    position: relative;
    top: 250px;
    left: 25px;
    text-align: center;
    letter-spacing: 2px;
}

.button-back {
    position: absolute;
    top: 25px;
    left: 1155px;
    width: 20px;
    height: 20px;
}

.instructions-gcd {
    background-color: white;
    width: 260px;
    height: 190px;
    position: relative;
    top: 250px;
    left: 25px;
    text-align: center;
    letter-spacing: 2px;
    padding: 30px;
}

.a {
    position: absolute;
    top: 180px;
    left: 800px;
    width: 30px;
    height: 20px;
    text-align: center;
}

.b {
    position: absolute;
    top: 230px;
    left: 800px;
    width: 30px;
    height: 20px;
    text-align: center;
}

.a-value {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 190px;
    left: 900px;
    text-align: center;
}

.b-value {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 240px;
    left: 900px;
    text-align: center;
}

.answer-gcd {
    position: absolute;
    top: 350px;
    left: 790px;
}

.answer-gcd-number {
    position: absolute;
    width: 50px;
    height: 35px;
    top: 390px;
    left: 870px;
    text-align: center;
}

.instructions-note {
    background-color: white;
    width: 260px;
    height: 140px;
    position: relative;
    top: 250px;
    left: 25px;
    text-align: center;
    letter-spacing: 2px;
    padding: 30px;
}


#glass-notes {
    display: flex;
    align-content: center;
    padding: 10px;
    justify-content: center;
    border-radius: 20px;
}

#glass-notes > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.note {
    position: relative;
    text-align: center;
    margin: auto;
    border-radius: 5px;

    padding: 5px;
    height: 80%;
    width: 80%;
}

.note-name {
    border-radius: 5px;
    padding: 5px;
    position: relative;
    text-align: center;
    margin: auto;
    width: 80%;
}

.danger-button {
    background-color: #a82a2a;
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

